#sendBtn,
#editPageTextLeftLeft > * > p > i,
#updateBtn,
#backBtn,
#confirmationBoxAnswerBox > p,
.optionBox > p,
#editText {
  transition: all 0.5s;
}

.helpText p {
  transition: all 1s;
}

.navBox:hover {
  background-color: transparent;
}

#sendBtn:hover {
  background-color: var(--highlight);
  padding: 0.5em 2em;
}

#editPageTextLeftLeft > *:hover {
  background-color: var(--highlight);
  opacity: 0.6;
}

#editPageTextLeftLeft > *:hover > p > i {
  transform: scale(1.6) rotateZ(20deg);
}

.optionBox:hover > p {
  color: var(--highlight);
  left: 2em;
}

#updateBtn:hover {
  width: 100%;
}

#backBtn:hover {
  opacity: 1;
}

#editText:hover {
  color: var(--highlight);
  left: -2em;
}

#confirmationBoxAnswerBox > p:hover {
  color: #fff;
  transform: scale(2);
}

.helpText p.flash {
  color: #fff;
  transition: all 0s;
}

#logInBtn:hover p {
  color: var(--highlight);
}
